<header class="header">
  <h2 class="text-center">Welcome to Tambola by Funtagious!</h2>
</header>
<div class="jumbotron">
  <div>
    <button class="primary">Host a new game</button>
  </div>
  <div>
    List of games
  </div>
</div>
