<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tambola by Funtagious!</title>
    <link rel="stylesheet" href="/assets/app.css">
  </head>

  <body>
    <div class="container">
      <ul class="right user-menu">
        <%= if assigns[:user] do %>
          <li class="user"><%= @user.name %></li>
        <% else %>
          <li class="login"><a href="/auth/google">Login with Google</a></li>
        <% end %>
      </ul>
      <p :if={Phoenix.Flash.get(@flash, :info)} class="alert alert-info" role="alert">
        <%= Phoenix.Flash.get(@flash, :info) %>
      </p>
      <p :if={Phoenix.Flash.get(@flash, :error)} class="alert alert-danger" role="alert">
        <%= Phoenix.Flash.get(@flash, :error) %>
      </p>

      <main role="main">
        <%= @inner_content %>
      </main>

    </div>
    <script>window.userToken = "<%= assigns[:token] || "" %>"</script>
    <script src="/assets/app.js"></script>
  </body>
</html>
